<h1 class="title">מה הבעיה?</h1>
<form class="problem-list">
  <mat-selection-list #problemsListInput>
    <mat-list-option *ngFor="let problem of problems" class="problem">
      {{problem}}
    </mat-list-option>
  </mat-selection-list>

  <mat-form-field appearance="legacy" #otherProblem class="reason">
    <input matInput (change)="this.setOtherProblem($event)" placeholder="יש לי בעיה אחרת" />
  </mat-form-field>

  <div>
    <mat-label class="information">
      <mat-icon>info</mat-icon>
      <span class="text">ניתן לבחור יותר מאפשרות אחת</span>
    </mat-label>
  </div>

  <button mat-flat-button class="large_button" (click)="this.continue()">המשך</button>
</form>

