<form [formGroup]="profileForm">
  <mat-form-field>
    <input matInput formControlName="carType" placeholder="לדוגמא, טויוטה קורולה" />
    <mat-label>מה סוג הרכב?</mat-label>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput formControlName="name" placeholder="לדוגמא, אברהם אברהמי" />
    <mat-label>איך קוראים לך?</mat-label>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput formControlName="phone" placeholder="מספר טלפון" />
    <mat-label>איך אפשר להשיג אותך?</mat-label>
  </mat-form-field>
</form>
<button mat-flat-button class="large_button" (click)="this.continue()">המשך</button>
